---
import { getCollection, type CollectionEntry } from "astro:content";
import DocumentationLayout from "../../layouts/DocumentationLayout.astro";
import HeadingTree from "../../components/HeadingTree.svelte";

const slug = Astro.params.slug

const articles = await getCollection("docs", (entry) => entry.slug == slug);

if (articles.length == 0 || articles.length > 1) {
	return Astro.redirect("/404")
}

async function getArticleParents(article: CollectionEntry<"docs">): Promise<CollectionEntry<"docs">[]> {
		let slugComponents = article.slug.split("/")
		const collection = await getCollection("docs");
		const parents = []
		for (let i = 0; i < slugComponents.length; i++) {
			const adjustedSlug = slugComponents.slice(0, -i).join("/");
			for (const entry of collection) {
				if (entry.slug == adjustedSlug) {
					parents.push(entry)
				}
			}
		}

		return parents.reverse()
}

const article = articles[0];
// Recursively resolve all parent directories of this article
const parents = [...await getArticleParents(article), article	]

const {Content, headings} = await article.render()

---

<DocumentationLayout title={article.data.title} listOfTitles={parents}>
	<div class="max-w-screen-xl mx-auto grid grid-cols-1 md:grid-cols-[3fr_1fr] gap-8 px-8">
		<article>
			<Content></Content>
		</article>
		<HeadingTree headings={headings} client:load></HeadingTree>
	</div>
</DocumentationLayout>


<style is:global>
	article pre {
		@apply !p-6;
	}
</style>
