---
import Layout from "#layouts/Layout.astro"
import { GithubLogo } from "radix-svelte-icons";
import ReactiveImage from "#components/ReactiveImage.svelte"
import "svelte-highlight/styles/gruvbox-dark-hard.css"

import { prisma } from "~/lib/server/db"
import ReactiveSvg from "~/components/ReactiveSvg.svelte";

const packages = await prisma.package.findMany({
	include: {
		_count: {
			select: {
				revisions: true
			}
		}
	}
})
---

<Layout title="Stack Package Manager">
	<div class="hero my-16 bg-base-100 w-full">
		<div class="hero-content text-center flex-col">
			<div class="flex items-center flex-col">
				<ReactiveSvg src="/stack/logo-dark.svg" class="h-[480px] w-[480px] my-0" client:load></ReactiveSvg>
				<p>
					A language-agnostic package manager. Unopinionated and flexible. Stack lets you import code from any language that supports the METALS intermediate language.
				</p>
			</div>
			<div class="flex flex-col md:flex-row gap-4">
				<a
					class="btn btn-outline btn-lg no-underline"
					href="https://github.com/the-meta-lang/stack"
					target="_blank"><GithubLogo size={24} />View on GitHub</a>
				<a href="/docs/stack" class="btn btn-primary btn-lg no-underline"
					>Learn More!</a>
			</div>
		</div>
	</div>
	<div class="hero py-16 bg-base-200 w-full">
		<div class="hero-content flex flex-col">
			<h2 class="mb-8 mt-0">Push and pop to your heart's content!</h2>
			<p class="text-center">Stack allows for easy interoperability between any language that supports the METALS intermediate language. Code can be imported into any supported language and compiled on the fly.</p>
			<div class="stats shadow">
  
				<div class="stat">
					<div class="stat-title">Packages</div>
					<div class="stat-value">{packages.length}</div>
				</div>
				<div class="stat">
					<div class="stat-title">Revisions</div>
					<div class="stat-value">{packages.reduce((a,b) => a + b._count.revisions, 0)}</div>
					<div class="stat-desc">21% more than last month</div>
				</div>
				<div class="stat">
					<div class="stat-title">Downloads</div>
					<div class="stat-value">{packages.reduce((a,b) => a + b.downloads, 0)}</div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="hero py-16 bg-base-100 w-full">
		<div class="hero-content flex flex-col lg:flex-row gap-16">
			<ReactiveSvg src="/images/github-logo-vector.svg" class="w-full h-48 relative block" client:load></ReactiveSvg>
			<div>
				<h2 class="mb-8 mt-0">Damn near lightspeed</h2>
				<p>
					Stack uses the existing infrastructure that GitHub provides to host packages. Our servers only handle metadata and package resolution.
				</p>
			</div>
		</div>
	</div>
</Layout>
